 
 <div class="scrollable ng-scope" style="background-color: white;">
  <div class="scrollable-content">
    <div class="list-group text-center" style="height: 100%">
      
      <div class="list-group-item list-group-item-home" style="height: 100%">
          
          <img src="./images/head.jpg" width="100%" alt="">
           <ul class="list-group text-center" style="height: 100%">

                    <li ng-repeat="curso in cursos | filter:nombre" class="list-group-item list-group-item-home">
                      <a href="#!detalleCurso/{{curso.id}}" style="width: 100%;">
                      
                        <table style=" width: 100%;">
                          <tr >
                            <td width="20%" rowspan="2"><img src="./images/facebook.png" width="50px" height="50px" alt=""></td>
                            <td class="pad" width="80%" style="text-align: left;color: black;"> {{curso.nombre}} </td>
                           
                          </tr>
                          <tr>
                            <td class="pad" width="80%" style="text-align:left;color: gray"> Descripcion </td>
                          </tr>
                          
                        </table>
                        
                  
                      </a> 
                    </li>
                </ul> 
                <div> 
                    <h6>Redes Sociales</h6>
                    <a ng-click="redireccionarFa()" ><img src="./images/facebook.png" width="50px" height="50px" alt=""></a>
                    <a ng-click="redireccionarTw()" ><img src="./images/twitter.png" width="50px" height="50px" alt=""></a>
                    <a ng-click="redireccionarYou()" ><img src="./images/youtube.png" width="50px" height="50px" alt=""></a>
                    <a ng-click="redireccionarWat()" ><img src="./images/Whatsapp.png" width="50px" height="50px" alt=""></a>
                    <a ng-click="redireccionarMap()" ><img src="./images/maps2.jpg" width="50px" height="50px" alt=""></a>
                </div>

        </div>
     
      
      
      
      </div>
    </div>
    
</div>

<!--
<div id="divBody">
  <div class="walkthrough show reveal">
          <div class="walkthrough-pagination">
          
          </div>
          <div class="walkthrough-body">
              <ul class="screens animate">
        
                  <li class="screen active" style="text-align: center;">
                      <div class="media logo">
  
                      </div>
                      <h3>
                          Nombre Curso 1
                       <br />
                      </h3>
                      <p>Descripcion curso 1</p>
                  </li>
                  <li class="screen">
                      <div class="media logo">
  
                      </div>
                      <h3>
                          Nombre Curso 2
                          <br />
                      </h3>
                      <p>Descripcion curso 2</p>
                  </li>
                  <li class="screen">
                      <div class="media logo">
  
                      </div>
                      <h3>
                          Nombre Curso 3
                          <br />
                      </h3>
                      <p>Descripcion curso 3</p>
                  </li>
                  <li class="screen">
                      <div class="media logo">
  
                      </div>
                      <h3>
                          Nombre Curso 4
                          <br />
                      </h3>
                      <p>Descripcion curso 4</p>
                  </li>
   
              </ul>
  
              <button class="prev-screen">
                  <i class="icon-angle-left">&lt</i>
              </button>
              <button class="next-screen">
                  <i class="icon-angle-right">&gt</i>
              </button>
          </div>
      
    <div class="walkthrough-footer">
      <button class="button next-screen">Next</button>
      <button class="button finish close" disabled="true">Finish</button>
    </div>
    -->
  
      </div>
</div>





