<!--<h1 class="app-name">DeADV</h1>-->

<div class="scrollable">
  <h1 class="scrollable-header app-name">DeaDV</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Inicio <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!cursos">Nosotros<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!asistencia">Consulta de Registros de Asistencia<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!certificados">Consulta de Certificados<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!encuesta">Encuesta<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!trabaja">Trabaja con Nosotros<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!paralelos">Consulta de Paralelo<i class="fa fa-chevron-right pull-right"></i></a>
      
    </div>
  </div>
</div>